@model IEnumerable<EconomyReloaded.ViewModels.ReceiptViewModel>

<h2>List of economy</h2>
<h3>Details of @ViewBag.UserName.ToString():</h3>

@if (!Model.Any())
{
    <p>No receipts found yet</p>
}
else
{
    <table border="1" id="tblEconomy">
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row.ReceiptName</td>
                <td>@row.ReceiptTotal</td>
                <td><em>@row.ReceiptDate.ToShortDateString()</em></td>
                <td>
                    @Html.Action("DeleteReceipe","Receipt", new {receiptId = row.ReceiptId})
                </td>
            </tr>
        }
        <tr>
            <td><strong>Sum:</strong></td>
            <td>@Model.Sum(r => r.ReceiptTotal) <em>kr</em></td>
        </tr>
    </table>
}

<input type="button" value="Add new receipt" id="btnAddReceipt" data-url="@Url.Action("AddReceipt", "Receipt")" />
<div id="addReceiptPartial"></div>